body {
    font-family: "Vazirmatn UI FD NL";
}
#offers .offer-item {
    background-position-x: center !important;
    background-position-y: center !important;
    background-size: 15rem !important;
    height: 14rem;
}

a{
    text-decoration: none;
}
/* Featues */
#features .row {
    background-color: #f4ebfb;
}