body {
    font-family: "Vazirmatn UI FD NL";
}
/*----- Owl Carousel  -----*/
button.owl-prev {
    background: #9d9d9d94 !important;
    color: #eae7fc !important;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem !important;
    line-height: 1.3 !important;
}

button.owl-next {
    background: #9d9d9d94 !important;
    color: #eae7fc !important;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem !important;
    line-height: 1.3 !important;
}

#top-head-slider .owl-nav {
    position: absolute;
    bottom: 5%;
    right: 46%;
}
#top-head-slider .item{
    background-color: rgb(221, 221, 221);
}



#offers .offer-item {
    background-position-x: center !important;
    background-position-y: center !important;
    background-size: 15rem !important;
    height: 14rem;
}

a{
    text-decoration: none;
}
/* Featues */
#features .row {
    background-color: #f4ebfb;
}
/* Categories */

#categories .cat-img img {
    height: 4rem;
    width: 4rem;
}
/* CountDown */
#countDown {
    background: url(../img/hot-deal-bg.jpg) no-repeat 0;
    background-position-x: center !important;
    background-position-y: center !important;
    background-size: cover;
}

#countDown .simplyCountdown  {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

#countDown .simplyCountdown .simply-section {
    display: none;
    padding: 0.8rem 1.4rem;
    margin: 0.3rem;
    background-color: white;
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
}

#countDown .simplyCountdown .simply-section:nth-child(1) {
    display: inline-block;
}

#countDown .simplyCountdown .simply-section:nth-child(2) {
    display: inline-block;
}

#countDown .simplyCountdown .simply-section:nth-child(3) {
    display: inline-block;
}

#countDown .simplyCountdown .simply-section:nth-child(4) {
    display: inline-block;
}

#countDown .simplyCountdown .simply-section .simply-amount {
    display: block;
    font-weight: 900;
}

#countDown .simplyCountdown .simply-section .simply-word {
    display: block;
}

/* New products */
#new-products .items .item .image img {
    width: 100%;
}

/*brands*/
#brands div div{
    text-align: center;
}



#brands .items img{
    height: 5rem;
    width: 5rem;




}
/* Articles */
#articles .article .image img {
    width: 100%;
}
#articles .article .details .writer img {
    width: 3rem;
}
/* Newsletter */
#newsletter form input[type="text"] {
    padding: 0.7rem 0.9rem;
}
#newsletter form input[type="submit"] {
    left: 6.5rem;
    top: 0.4rem;
    position: relative;
}
#newsletter {
    background-color: rgb(221, 221, 221);
}