/*----- Fonts  -----*/
@import url('../webfonts/vazir/UI/Vazirmatn-UI-font-face.css');
@import url('../webfonts/vazir/UI-Farsi-Digits-Non-Latin/Vazirmatn-UI-FD-NL-font-face.css');
/*----- Owl Carousel  -----*/


#top-head-slider .owl-nav {
    position: absolute;
    bottom: 5%;
    right: 46%;
}
#top-head-slider .item{
    background-color: #d7d5d8;
}



#offers .offer-item {
    background-position-x: center !important;
    background-position-y: center !important;
    background-size: 15rem !important;
    height: 14rem;
}

a{
    text-decoration: none;
}
/* Featues */
#features .row {
    background-color: #d7d5d8;
}
/* Categories */

#categories .cat-img img {
    height: 4rem;
    width: 4rem;
}
/* CountDown */
#countDown {
    background: url(../img/hot-deal-bg.jpg) no-repeat 0;
    background-position-x: center !important;
    background-position-y: center !important;
    background-size: cover;
    
}

#countDown .simplyCountdown  {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

#countDown .simplyCountdown .simply-section {
    display: none;
    padding: 0.8rem 1.4rem;
    margin: 0.3rem;
    background-color: white;
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
}

#countDown .simplyCountdown .simply-section:nth-child(1) {
    display: inline-block;
}

#countDown .simplyCountdown .simply-section:nth-child(2) {
    display: inline-block;
}

#countDown .simplyCountdown .simply-section:nth-child(3) {
    display: inline-block;
}

#countDown .simplyCountdown .simply-section:nth-child(4) {
    display: inline-block;
}

#countDown .simplyCountdown .simply-section .simply-amount {
    display: block;
    font-weight: 900;
}

#countDown .simplyCountdown .simply-section .simply-word {
    display: block;
}

/* New products */
#new-products .items .item .image img {
    width: 100%;
}

/*brands*/
#brands div div{
    text-align: center;
}



#brands .items img{
    height: 5rem;
    width: 5rem;




}
/* Articles */
#articles .article .image img {
    width: 100%;
}
#articles .article .details .writer img {
    width: 3rem;
}
/* Newsletter */
#newsletter form input[type="text"] {
    padding: 0.7rem 0.9rem;
}
#newsletter form input[type="submit"] {
    left: 6.5rem;
    top: 0.4rem;
    position: relative;
}
#newsletter {
    background-color: #d7d5d8;

    
   }

   /*----- Footer -----*/
   
#footer {
    background-color: #d7d5d8;
    font-size: 0.9rem;
}

#footer .title .separator {
    width: 4rem;
    border-bottom: 1px solid var(--bs-primary);
}

#footer ul a {
    font-size: 0.9rem;
    line-height: 1.9;
}

#subfooter {
    background-color: #d7d5d8;
    font-size: 0.9rem;
}

/*----- Productes page -----*/
/* Title section */
#title-section {
    background-color: #d7d5d8;
}

/* Best sellers */
#best-sellers .item img {
    width: 5.5rem;
    height: 5.5rem;
}

/* Ads */
#ads img {
    width: 100%
}

/* main-filter */
#main-filter {
    background-color: #f4ebfb;
}
#main-filter p {
    font-size: 0.8rem;
}

/* Products */
#products-page-products .items .item img{
    width: 100%;
}
#footer .logo {
    height: 6rem;
    width: 6rem;
}


/*----- Single product page -----*/
.single-product-page-rating {
    display: inline;
}

.counter-input {
    display: inline-flex;
    border: 1px solid #d085ff;
}

.counter-input button {
    margin: 0;
    border: none;
    padding: 0.3rem 0.7rem;
    background-color: #d7d5d8;

}
.counter-input input {
    margin: 0;
    border: none;
    width: 4rem;
    text-align: center;
}

.comments .comment {
    border-bottom: 1px solid #d7d5d8;
}
.comments .comment .user-avatar {
    width: 7rem;
}

/*----- Cart page ------*/
#cart-page-table thead tr th {
    background: #d7d5d8 !important;
    padding: 1rem 0;
    text-align: center;
}
#cart-page-table .product-thumbnail img {
    width: 5rem;
}
.cart-total-desc h3 {
    background-color: #d7d5d8;
    padding: 1rem 0.5rem 1rem;
    font-size: 1.3rem;
    font-weight: 900;
}
.cart-total-desc ul {
    list-style-type: none;
    padding: 2rem;
}
.cart-total-desc ul li {
    font-weight: 900;
    padding: 0.9rem 0;
    border-bottom: 1px solid #eee;
}
.cart-total-desc ul li span {
    float: left;
    font-weight: 300;
}



/*----- Checkout page -----*/
.billing-details-desc h4,
.order-details-desc h4 {
    background-color: #d7d5d8;
    padding: 1rem 0.8rem;
}
.billing-details-desc .form-content {
    background-color: #ffffff;
}
.order-details-desc ul {
    list-style-type: none;
    padding: 2rem;
}
.order-details-desc ul li {
    font-weight: 900;
    padding: 0.9rem 0;
    border-bottom: 1px solid #d7d5d8;
}
.order-details-desc ul li span {
    float: left;
    font-weight: 300;
}




/*----- Contact us page -----*/
#address .address {
    background-color: #d7d5d8;
}
#address .hours {
    background-color: #d7d5d8;
}

/* Map */
#map iframe {
  width: 100%;
    height: 25rem;
    
}



/*----- About page -----*/
.about-image {
    position: relative;
}
.about-image::before {
    top: -20px;
    width: 100%;
    z-index: -1;
    content: '';
    right: -20px;
    height: 100%;
    position: absolute;
    background-color: var(--bs-primary);
}
.about-content h2 {
    line-height: 1.5;
}
.why-choose-us .single-why-choose-box {
    background-color: #d7d5d8;
}






























/* Extra Small devices (phones and watches) */
@media only screen and (max-width: 600px) {
    /* body {
        background-color: chartreuse;
    } */
    #top-head-slider .item {
        height: auto;
    }
    #top-head-slider .item .row {
        flex-direction: column;
    }
    #top-head-slider .item .details {
        text-align: center;
        margin: 0 !important;
        padding: 2rem 0 !important;
    }
    #top-head-slider .item .slider-img {
        display: table;
        margin: 0 auto;
        width: auto;
        height: 15rem;
    }
    #features .feature {
        border: 0 !important;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width:768px) {
    /* body {
        background-color: paleturquoise;
    } */   
    
    #top-head-slider .item {
        height: auto;
    }
    #top-head-slider .item .row {
        flex-direction: column;
    }
    #top-head-slider .item .details {
        text-align: center;
        margin: 0 !important;
    }
    #top-head-slider .item .slider-img {
        display: table;
        margin: 0 auto;
        width: auto;
        height: 20rem;
    }
    #features .feature {
        border: 0 !important;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width:992px) {
    /* body {
        background-color: green;
    } */
    #top-head-slider .item {
        height: 26rem;
    }
    #top-head-slider .item .slider-img {
        height: 20rem;
        margin-top: 1rem;
    }
    #features .feature {
        border: 0 !important;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* body {
        background-color: orange;
    } */
    #top-head-slider .item .slider-img {
        width: auto;
        height: 25rem;
        margin-top: 2rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}