/*----- Fonts  -----*/
@import url('../webfonts/vazir/UI/Vazirmatn-UI-font-face.css');
@import url('../webfonts/vazir/UI-Farsi-Digits-Non-Latin/Vazirmatn-UI-FD-NL-font-face.css');
/*----- Owl Carousel  -----*/


#top-head-slider .owl-nav {
    position: absolute;
    bottom: 5%;
    right: 46%;
}
#top-head-slider .item{
    background-color: rgb(221, 221, 221);
}



#offers .offer-item {
    background-position-x: center !important;
    background-position-y: center !important;
    background-size: 15rem !important;
    height: 14rem;
}

a{
    text-decoration: none;
}
/* Featues */
#features .row {
    background-color: #f4ebfb;
}
/* Categories */

#categories .cat-img img {
    height: 4rem;
    width: 4rem;
}
/* CountDown */
#countDown {
    background: url(../img/hot-deal-bg.jpg) no-repeat 0;
    background-position-x: center !important;
    background-position-y: center !important;
    background-size: cover;
    
}

#countDown .simplyCountdown  {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

#countDown .simplyCountdown .simply-section {
    display: none;
    padding: 0.8rem 1.4rem;
    margin: 0.3rem;
    background-color: white;
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
}

#countDown .simplyCountdown .simply-section:nth-child(1) {
    display: inline-block;
}

#countDown .simplyCountdown .simply-section:nth-child(2) {
    display: inline-block;
}

#countDown .simplyCountdown .simply-section:nth-child(3) {
    display: inline-block;
}

#countDown .simplyCountdown .simply-section:nth-child(4) {
    display: inline-block;
}

#countDown .simplyCountdown .simply-section .simply-amount {
    display: block;
    font-weight: 900;
}

#countDown .simplyCountdown .simply-section .simply-word {
    display: block;
}

/* New products */
#new-products .items .item .image img {
    width: 100%;
}

/*brands*/
#brands div div{
    text-align: center;
}



#brands .items img{
    height: 5rem;
    width: 5rem;




}
/* Articles */
#articles .article .image img {
    width: 100%;
}
#articles .article .details .writer img {
    width: 3rem;
}
/* Newsletter */
#newsletter form input[type="text"] {
    padding: 0.7rem 0.9rem;
}
#newsletter form input[type="submit"] {
    left: 6.5rem;
    top: 0.4rem;
    position: relative;
}
#newsletter {
    background-color: rgb(241, 241, 241);

    
   }

   /*----- Footer -----*/
   
#footer {
    background-color: #f4ebfb;
    font-size: 0.9rem;
}

#footer .title .separator {
    width: 4rem;
    border-bottom: 1px solid var(--bs-primary);
}

#footer ul a {
    font-size: 0.9rem;
    line-height: 1.9;
}

#subfooter {
    background-color: #ded6e6;
    font-size: 0.9rem;
}

/*----- Productes page -----*/
/* Title section */
#title-section {
    background-color: #f4ebfb;
}

/* Best sellers */
#best-sellers .item img {
    width: 5.5rem;
    height: 5.5rem;
}

/* Ads */
#ads img {
    width: 100%
}

/* main-filter */
#main-filter {
    background-color: #f4ebfb;
}
#main-filter p {
    font-size: 0.8rem;
}

/* Products */
#products-page-products .items .item img{
    width: 100%;
}